body {
  font-family: "Nunito", sans-serif;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  display: flex;
  background-image: linear-gradient(0deg, rgb(30 19 4 / 44%), #28241e),
    url(https://images.pexels.com/photos/159862/art-school-of-athens-raphael-italian-painter-fresco-159862.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: inherit;
  padding-bottom: 266px;
}
h1 {
  font-weight: inherit;
  color: #8b723c;
}

.start-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: solid 5px #4c2f07;
  margin-top: 100px;
  padding: 82px;
  border-radius: 67px;
  background-color: #1f1303ba;
  color: #b39f87;
}

.choices ul li {
  list-style: none;
}

.quest-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: solid 5px #4c2f07;
  margin-top: 100px;
  padding: 10px;
  border-radius: 67px;
  background-color: #1f1303ba;
  color: #b39f87;
  width: 66%;
}

button {
  padding: 8px;
  background-color: #c4770d;
  border: solid 1px #99433100;
  border-radius: 10px;
  padding-inline: 18px;
  font-weight: bolder;
  color: black;
}

.hidden {
  display: none;
}

.question-image {
  width: 200px;
}

.choices {
  display: flex;
  padding: 2px;
}

.choices input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.choices label {
  background-color: #917756;
  border-radius: 8px;
  color: black;
  margin: 10px;
  height: 28px;
  font-size: 7px;
  padding: 14px;
}
.choices input[type="radio"]:checked + label {
  background-color: #2a1401;
  border-color: #866810;
  color: #a97100;
}

@media screen and (min-width: 600px) {
  .question-image {
    width: 400px;
  }
  .choices label {
    background-color: #917756;
    padding: 7px 20px;
    border-radius: 8px;
    color: black;
    margin: 10px;
  }
  .hidden {
  display: none;
}
}
